{{#each products}}

    <p> {{this.title}}</p>
    <p> Description: {{this.description}}</p>
    <p> Price: {{this.price}}</p>
    </br>
{{/each}}


<p> <a href="/products"> Ver mas productos </a></p>
<button id="buyButton" data-cartsId="{{cid}}">Buy</button>
<script src="/js/cartBuy.js"></script>