<form id="resetPasswordForm">
 
  <label for="newPassword">Nueva Contraseña:</label>
  <input type="password" id="newPassword" name="newPassword" required>
  <br>
  <input type="hidden" name="token" value="{{ token }}">
  <input type="submit" value="Restablecer Contraseña">
</form>
<script src="/js/resetPassword.js"></script>
